 <p>You Bought:</p>
 <p>--------------------------------------------</p>
  <% session[:cart].each do |hash| %>
 <div>
  <p>Shirt: <%= hash[:item] %></p>
 <p>Quantity: <%= hash[:quantity] %></p>
  <p>price: <%= hash[:price].to_i * hash[:quantity].to_i %></p>
  <p>--------------------------------------------</p>
  </br>
  </br>
  </br>
  </div>
  <% end %>
